.header {
  border: 2px teal solid;
  background-color: lightgrey;
  text-align: center;
}

.animal-listing {
  display: inline-block;
  border: 2px orange solid;
  height: 500px;
  width: 325px;
  padding: 10px;
  margin: 10px 5%;
  text-align: center;
}

.animal-listing img {
  display: block;
  width: 90%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
}

.animal-listing h5 {
  margin-bottom: 0px;
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  .animal-listing {
    height: 50%;
    width: 30%
  }
}

@media screen and (max-width: 480px) {
  .animal-listing {
    height: 50%;
    width: 90%;
  }
}